.igg_Office2007BlueControl
{
	background-repeat:repeat-x;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #3B5A82;
}


.igg_Office2007BlueHeader
{
	background-color:#D3DCE9;
	background-repeat:repeat-x;
	background-image: url(images/igg_header.gif);
	height: 25px;
	color:#36428B;
}


.igg_Office2007BlueHeaderCaption
{
	border-right:solid 1px #9EB6CE;
	border-bottom:solid 1px #9EB6CE;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
	height: 25px;
}


.igg_Office2007BlueFooter
{
/*	background-image: url(images/igg_footer.gif);*/
	height: 22px;
	line-height: 21px;
	background-color:#eeeeee;
	background-repeat:repeat-x;
	background-image: url(images/igg_FooterBG.png);
}


.igg_Office2007BlueFooterCaption
{
	font-weight:normal;
	font-size:10px;
	padding-left:8px;
	overflow: hidden;
	color:#36428B;
	text-align:left;
}


tbody.igg_Office2007BlueItemIE6 tr td
{
	background-color:White;
	border-right:solid 1px #D0D7E5;
	border-bottom:solid 1px #D0D7E5;
	padding:5px 8px 5px 8px;
	height: 23px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


tbody.igg_Office2007BlueItem>tr>td
{
	background-color:White;
	border-right:solid 1px #D0D7E5;
	border-bottom:solid 1px #D0D7E5;
	padding:5px 8px 5px 8px;
	height: 23px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


.igg_Office2007BlueScrollbarIntersection
{
}


.igg_Office2007BlueRowSelector
{
	background-color:#E4ECF7;
	border-right:solid 1px #9EB6CE;
	border-bottom:solid 1px #9EB6CE;
	width: 35px;
	color:#27413E;
	text-align:center;
	vertical-align:middle;
}


.igg_Office2007BluePager
{
	background-color:#D7E5F7;
	background-repeat:repeat-x;
	background-image: url(images/igg_pagerbg.gif);
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
}


.igg_Office2007BluePageLink
{
	margin-right:10px;
	cursor:hand;
	color:#36428B;
	cursor: pointer;
}


.igg_Office2007BlueFilterRuleDropDown
{
	background-color:White;
	background-repeat:repeat-x;
	border:solid 1px #3B5A82;
	width: 150px;
	overflow: auto;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}


.igg_Office2007BlueFilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_Office2007BlueResizeIndicator
{
	background-color:#9EB6CE;
	width: 2px;
}


tbody tr.igg_Office2007BlueAltIE6 td
{
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
	background-color:#EBF6FF;
}


tbody>tr.igg_Office2007BlueAlt>td
{
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
	background-color:#EBF6FF;
}


.igg_Office2007BlueHeaderRowSelector
{
	background-color:Transparent;
	border-top:solid 0px #9EB6CE;
	border-right:solid 1px #9EB6CE;
	border-bottom:solid 1px #9EB6CE;
	border-left:solid 0px #9EB6CE;
}


.igg_Office2007BlueFooterRowSelector
{
	background-color:Transparent;
	border:solid 0px #000000;
}


.igg_Office2007BlueSelectedHeader
{
}

tbody.igg_Office2007BlueFixedColumnCellCssClass>tr>td
{
}

.igg_Office2007BlueFixedColumnFooterCssClass
{
	font-weight: bold;
}

.igg_Office2007BluePageCurrent
{
	font-weight:bold;
	padding-right:10px;
	color:#36428B;
}


tr.igg_Office2007BlueAddNewRowIE6 td
{
	background-color:#E8EAEC;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_Office2007BlueAddNewRow>td
{
	background-color:#E8EAEC;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_Office2007BlueAddNewRowTopIE6 td
{
}


tr.igg_Office2007BlueAddNewRowTop>td
{
}


tr.igg_Office2007BlueAddNewRowBottomIE6 td
{
}


tr.igg_Office2007BlueAddNewRowBottom>td
{
}


.igg_Office2007BlueAddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_Office2007BlueAddNewRowSelectorCssClass
{
	background-color:#E8EAEC;
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


.igg_Office2007BlueFilterRuleDropDownItem
{
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
}


.igg_Office2007BlueFilterRowSelectorImage
{
}


.igg_Office2007BlueFilterRowSelectorCssClass
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #9EB6CE;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


.igg_Office2007BlueFilterRow
{
	background-color:White;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 0px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 1px #B6B6B6;
	height: 22px;
}


tr.igg_Office2007BlueFilterRowIE6 td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #9EB6CE;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	color:Black;
}


tr.igg_Office2007BlueFilterRow>td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #9EB6CE;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	color:Black;
}


tr.igg_Office2007BlueFilterRowTopIE6 td
{
}


tr.igg_Office2007BlueFilterRowTop>td
{
}


tr.igg_Office2007BlueFilterRowBottomIE6 td
{
}


tr.igg_Office2007BlueFilterRowBottom>td
{
}


.igg_Office2007BlueHeaderScrollbarIntersection
{
}


.igg_Office2007BlueFooterScrollbarIntersection
{
}


.igg_Office2007BlueSelectedRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-repeat: no-repeat;
}


.igg_Office2007BlueSelectedRowSelectorImage
{
}


.igg_Office2007BlueFilterRuleDropDownSelectedItem
{
	background-repeat:repeat-x;
	background-image: url(images/igg_selected.gif);
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	color:Black;
}


tbody tr td.igg_Office2007BlueSelectedCellIE6
{
	background-color:#FEC271;
	background-repeat:repeat-x;
	background-image: url(images/igg_cellselected.gif);
	border-bottom:solid 1px #FDAD11;
	color:Black;
}


tbody>tr>td.igg_Office2007BlueSelectedCell
{
	background-color:#FEC271;
	background-repeat:repeat-x;
	background-image: url(images/igg_cellselected.gif);
	border-bottom:solid 1px #FDAD11;
	color:Black;
}


.igg_Office2007BlueAddNewRowScrollbarIntersection
{
	background-color:#E8EAEC;
	border-top:solid 1px #B6B6B6;
	border-right:solid 0px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


.igg_Office2007BlueFilterDisabled
{
}


.igg_Office2007BlueFilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #9EB6CE;
	border-right:solid 0px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


tbody tr td.igg_Office2007BlueActiveCellIE6
{
}


tbody>tr>td.igg_Office2007BlueActiveCell
{
}


.igg_Office2007BlueActiveRow
{
}


.igg_Office2007BlueActiveColumn
{
}


.igg_Office2007BlueActiveRowSelectorImage
{
}


.igg_Office2007BlueActiveRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-color: #FFC875;
	background-repeat: no-repeat;
}


.igg_Office2007BlueFilterRuleDropDownHoverItem
{
	background-repeat:repeat-x;
	background-image: url(images/igg_selected.gif);
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	color:Black;
}


.igg_Office2007BlueEditCell
{
	background:White !important;
	border:solid 1px #AAAAAA !important;
}

.igg_Office2007BlueFixedColumnSeparatorCssClass
{
	width: 3px;
	background-color: #9EB6CE; 
}

.igg_Office2007BlueFixedColumnPinButtonCssClass
{
	padding: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
}

.igg_Office2007BlueFixedColumnHeaderCSSClass
{
}

.igg_Office2007BlueVirtualScrollTooltip
{
	background-image: url(images/igg_footer.gif);
	font-size:10px;
	border:solid 1px #3B5A82;
	padding:3px;
	color: #000000;
	text-align:center;
}


.igg_Office2007BlueFilterButton>td
{
	border-top:solid 0px Transparent;
	border-right:solid 0px Transparent;
	border-bottom:solid 0px Transparent;
	border-left:solid 0px Transparent;
}


.igg_Office2007BlueTopDragIndicator
{
      background-image:url("images/igg_TopDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      margin-top: 2px;
      z-index: 100;
}

.igg_Office2007BlueMiddleDragIndicator
{
      background-image:url("images/igg_MiddleDragIndicator.png");
      background-repeat: repeat-y;
      background-position: center;
      width:11px; 
}

.igg_Office2007BlueBottomDragIndicator
{
      background-image:url("images/igg_BottomDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      position: absolute;
      margin-top: -2px;
      z-index: 100;   
}


/*********************/
/**  Summary styles **/
/*********************/

.igg_Office2007BlueFilterRuleDropDown 
{
    font-family:verdana;
    font-size:xx-small;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    border:1px solid #83AFDF;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}

.igg_Office2007BlueFooterSummary
{
  border-bottom:1px solid #CBCBCB;
  color:#444444;
}

/** Removed Property (Olga Kerchentseva mail 5/25/2010 )**/
/*
.igg_Office2007BlueFooterSummariesCaption
{
    color:#000;
    background:#88C2E8 url(images/igg_FooterSummariesBG.png) repeat-x scroll;
} */

.igg_Office2007BlueSummaryDropDown
{
    font-family:verdana;
    font-size:11px;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    padding:12px;
    border:1px solid #567DB1;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}
    .igg_Office2007BlueSummaryDropDown input
    {
        margin-top:10px;
        margin-right:3px;
        width:55px;
        
        border:1px solid #C0A776;
        background:#FFEBB0 url(images/igg_ButtonsBG.png) repeat-x scroll;
        color:#567DB1;
        
        -webkit-border-radius: 3px;    
        -moz-border-radius: 3px;
    }
    
.igg_Office2007BlueSummaryDropDownItem
{
    cursor:default;
}

    .igg_Office2007BlueSummaryDropDownItem img
    {
        margin-right:5px;
        cursor:pointer;
    }

.igg_Office2007BlueSummaryButton 
{
    background:none;
    border:medium none;
    cursor:pointer;
    margin:0;
    padding:0;
}

/******************/

@media print{.igg_Office2007BlueControl, .igg_Office2007BlueControl div{width:auto !important; height:auto !important; overflow: visible !important;}}