.igfeb_HarvestControl
{
	background-color: Transparent;
}

.igfeb_HarvestControlHover
{
				
				
}

.igfeb_HarvestFishEyeItemLabel
{
}

.igfeb_HarvestFishEyeItem
{
}

.igfeb_HarvestFishEyeItemHover
{			
}

.igfeb_HarvestFishEyeItemDisabled
{
				
				
}

.igfeb_HarvestControlFocus
{
				
				
}

.igfeb_HarvestFishEyeItemSelected
{
	background-position: bottom;
	background-image: url(images/igfeb_itemselected.png);	
	background-repeat:  no-repeat;
}