.ighg_HarvestExpandButton
{
	cursor: pointer;
	cursor: hand;
	padding-left: 5px;
}

TBODY>TR>TD.ighg_HarvestExpandableArea
{
	padding: 0px 0px 0px 25px;
	background-color: #FFFFFF;
	background-image: none;
}

.ighg_HarvestExpansionColumn
{
	width: 25px;
	padding: 0 !important;
}

.ighg_HarvestExpansionColumnHeader
{
	width: 25px;
}

.ighg_HarvestExpansionColumnFooter
{
	width: 25px;
}

/* START -- GroupBy CSS Classes */
.ighg_HarvestGroupIndentHeaderCell
{
}

TBODY>TR.ighg_HarvestGroupedRow>TD
{
	background:#f9e4c9 url(images/ighg_GroupedRowBg.png) repeat-x;
}


TBODY>TR>TD.ighg_HarvestGroupIndentCell
{
	border-right: 1px solid #D8D8D8;
}

.ighg_HarvestGroupArea
{
	background-color: #F3F4F3;
	border-bottom: 1px solid #97462C;
	padding: 10px;
}

.ighg_HarvestGroupedColumn
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnBg.png) repeat-x;
	height: 16px;
	padding: 3px 5px 0px 10px;
	color: #FFFFFF;
}
.ighg_HarvestGroupedColumnRightEdgeEnd
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeEndBg.gif) no-repeat;		
	width: 10px;
	height: 16px;
	padding-top: 3px;
}
.ighg_HarvestGroupedColumnRightEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeBg.png) no-repeat;
	width: 10px;
	height: 16px;
	padding-top: 3px;
}

.ighg_HarvestGroupedColumnLeftEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnLeftEdgeBg.gif) no-repeat;
	width: 9px;
	height: 16px;
	padding-top: 3px;
}

.ighg_HarvestGroupedBand
{
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-left: 1px solid #97462C;
	height: 16px;
	padding: 3px 0px 0px 10px;
}
.ighg_HarvestGroupedBandRightEdge
{		
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-right: 1px solid #97462C;
	width: 10px;
	height: 16px;
	padding: 3px 0px 0px 0px;
}

.ighg_HarvestColumnGroupingTopDragIndicator
{
	background-image:url(images/ighg_TopDragIndicator.gif);
	background-repeat: no-repeat;
	width:5px; 
	height:3px;
	z-index: 100;
}

.ighg_HarvestColumnGroupingMiddleDragIndicator
{
      background-image:url(images/ighg_MiddleDragIndicator.gif);
      background-repeat: repeat-y;
      background-position: center;
      width:3px; 
}

.ighg_HarvestColumnGroupingBottomDragIndicator
{
      background-image:url(images/ighg_BottomDragIndicator.gif);
      background-repeat: no-repeat;
      width:5px; 
      height:3px;
      position: absolute;
      z-index: 100;   
}
/* END -- GroupBy CSS Classes */
@media print{.ighg_HarvestControl, .ighg_HarvestControl div{width:auto !important; height:auto !important; overflow: visible !important;}}