.igr_HarvestControl
{
    outline: none;
	border : 0px none;
	background:transparent;
}

.igr_HarvestEmptyContainer
{
    overflow : hidden;
}

.igr_HarvestSelectedContainer
{
    position : relative;
    overflow : hidden;
    white-space : nowrap;
}

.igr_HarvestHoveredContainer
{
    position : relative;
    overflow : hidden;
    white-space : nowrap;
}

.igr_HarvestImageSpan
{
    display : inline-block;
    width: 20px;
    height: 20px;
}

.igr_HarvestImageSpanVert
{
    display : block;
    width: 20px;
    height: 20px;
}

.igr_HarvestEmptyImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: 0px 0px;
}

.igr_HarvestSelectedImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -50px 0px;
}

.igr_HarvestHoveredImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -25px 0px;
}
/*
    These were added for our clients to control the disabled appearence
*/

.igr_HarvestDisabledEmptyImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -75px 0px;
}

.igr_HarvestDisabledSelectedImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -100px 0px;
}

.igr_HarvestControlFocus
{
    border : 0px none;
}

.igr_HarvestControlDisabled
{
}
