.ig_HarvestControl
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	color:Black;
}


.ig_HarvestItem
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_HarvestButton
{
	cursor:hand;
}


.ig_HarvestButtonHover
{
}


.ig_HarvestButtonPressed
{
}


.ig_HarvestButtonDisabled
{
}


.ig_HarvestHover
{
}


.ig_HarvestSelected
{
}


.ig_HarvestDisabled
{
}


.ig_HarvestHeader
{
}


.ig_HarvestFooter
{
}


.ig_HarvestEditWithButtons
{
}


.ig_HarvestEdit
{
}


.ig_HarvestEditInContainer
{
}


.ig_HarvestAlt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_HarvestDropDown
{
}


.ig_HarvestEditSelected
{
}


.ms-WPBody .ig_HarvestControl TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .ig_HarvestControl TD
{
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .ig_HarvestControl TABLE
{
	font-size:xx-small;
	border-collapse:separate;
}
.ms-WPBody .ig_HarvestControl TABLE
{
	font:inherit;
}
.ms-WPBody .igdw_HarvestControl TD
{
	background-color:white;
}
.ms-WPBody .igmc_HarvestControl TD
{
	border:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .igmc_HarvestControl TD
{
	border:inherit;
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .igmc_HarvestControl TABLE
{
	font-size:xx-small;
}
.ms-WPBody .igmc_HarvestControl TABLE
{
	font:inherit;
}
.ms-WPBody .igte_HarvestEditWithButtons TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:1px;
}
.ms-WPBody .igte_HarvestEditWithButtons TABLE
{
	font-size:1px;
}
