.igeb_ClaymationControl 
{
    background-color: transparent;
    color: #000000;
    font-size: xx-small;
    font-family: Segoe UI, Verdana, Helvetica, sans-serif;
    overflow-x: hidden;
    border: solid 1px #CCCCCC;
    border-top-width: 0px;
	
	/* IE6 fix to remove control's scroll bar */
	_overflow:hidden!important;
}

.igeb_ClaymationGroupLink
{
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0px;
    padding-bottom: 0px;
     
    /* Used to give padding to group icons */
    padding-left:6px
}

.igeb_ClaymationHolder
{
}

.igeb_ItemImage
{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
}

.igeb_ClaymationGroup
{
    display: block;
    height: 30px;
    vertical-align: middle;
    overflow: hidden;
    line-height: 30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #777777;
}

.igeb_ClaymationGroup a:visited
{
    color: #777777;
}

.igeb_ClaymationGroup a
{
    color: #777777;
}


.igeb_ClaymationGroupHover
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #000000;
}

.igeb_ClaymationGroupHover a:visited
{
    color: #000000;
}

.igeb_ClaymationGroupHover a
{
    color: #000000;
}

.igeb_ClaymationGroupLabel
{
    margin-left: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: Segoe UI, Verdana, Sans-Serif;
    text-decoration: none;
}


.igeb_ClaymationItemLink
{
    display: block;
    text-decoration: none;
    color: #333333;
    padding-top: 2px;
    padding-bottom: 2px;
}

.igeb_ClaymationGroupSelected
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #000000;
}

.igeb_ClaymationGroupSelected a:visited
{
    color: #000000;
}

.igeb_ClaymationGroupSelected a
{
    color: #000000;
}

.igeb_ClaymationGroupActive
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #000000;
}

.igeb_ClaymationGroupActive a:visited
{
    color: #000000;
}

.igeb_ClaymationGroupActive a
{
    color: #000000;
}

.igeb_ClaymationGroupDisabled
{
    background: #ccc;
    color:#EEEEEE;
}


.igeb_ClaymationItem
{
    background-color: #FFFFFF;
    line-height: 22px;
}

    /* IE 7 fix to icon bad alignment*/
    .igeb_ClaymationItem  ,.igeb_ClaymationItemActive ,.igeb_ClaymationItemSelected 
    {
       min-height:30px;
       
       /* IE6 specific fix */
       _height:30px;
    }
.igeb_ClaymationItemLabel
{
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-family: Segoe UI, Verdana, Arial, Sans-Serif;
}

.igeb_ClaymationGroupExpanderImage
{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.igeb_ClaymationItemImage
{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
}

.igeb_ClaymationItemSelected
{
    background-color: #00BFFF;
}

.igeb_ClaymationItemActive
{
    background-color: #00BFFF;
}

.igeb_ClaymationItemHover
{
    background-color: #00BFFF;
}

.igeb_ClaymationItemParent
{
    background-image: url(images/igeb_Bullet.png);
    background-repeat: no-repeat;
}

.igeb_ClaymationItemDisabled
{
    
}
    /* IE 7 Disabled item fix */

    .igeb_ClaymationItemDisabled a:visited, .igeb_ClaymationItemDisabled a
    {
        color: Gray;
    }
    
.igeb_ClaymationGroupContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.igeb_ClaymationItemContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}


.igeb_ClaymationItemHolder
{
}

.igeb_ClaymationItemHolder img
{
    vertical-align: middle;
}

