.igg_TrendyControl
{
	background-position:center ;
	font-size:11px;
	border-style:solid;
	border-width:1px;
}


.igg_TrendyHeader
{
	background-color:#0F9A48;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/header.gif);
	height: 25px;
	color:White;
}


.igg_TrendyHeaderCaption
{
	font-size: 12px;
	border-width:0px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
	vertical-align: middle;
}


.igg_TrendyFooter
{
	background-position:center ;
	/*background-image: url(images/igg_footer.gif);*/
	height: 21px;
	line-height: 21px;
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_FooterBG.png);

}


.igg_TrendyFooterCaption
{
	font-weight:normal;
	font-size:10px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


tbody.igg_TrendyItemIE6 tr td
{
	background-color:White;
	border-bottom:solid 1px #D8D8D8;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


tbody.igg_TrendyItem>tr>td
{
	background-color:White;
	border-bottom:solid 1px #D8D8D8;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


.igg_TrendyScrollbarIntersection
{
}


.igg_TrendyRowSelector
{
	background-color:White;
	border-right:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	width: 35px;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igg_TrendyPager
{
	background-position:bottom ;
	background-image: url(images/igg_footer.gif);
	border-width:0px;
	border-top:solid 1px #D8D8D8;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:right;
}


.igg_TrendyPageLink
{
	margin-right:10px;
	cursor:hand;
	color:#999999;
	cursor: pointer;
}


.igg_TrendyFilterRuleDropDown
{
	background-color:White;
	border:solid 1px #109A48;
	width: 150px;
	overflow: auto;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}


.igg_TrendyFilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_TrendyResizeIndicator
{
	background-color:#0F9A48;
	width: 2px;
}


tbody tr.igg_TrendyAltIE6 td
{
	background-color:#F4F4F4;
	background-image:none;
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


tbody>tr.igg_TrendyAlt>td
{
	background-color:#F4F4F4;
	background-image:none;
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


.igg_TrendyHeaderRowSelector
{
	background-color:Transparent;
	border-width:0px;
}


.igg_TrendyFooterRowSelector
{
	background-color:Transparent;
	border-width:0px;
}


.igg_TrendySelectedHeader
{
}

tbody.igg_TrendyFixedColumnCellCssClass>tr>td
{
}

.igg_TrendyFixedColumnFooterCssClass
{
	font-weight: bold;
}

.igg_TrendyPageCurrent
{
	padding-right:10px;
	color:#109A48;
}


.igg_TrendyAddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_TrendyAddNewRowSelectorCssClass
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	height: 22px;
}


.igg_TrendyFilterRow
{
	font-size:10px;
	border-top:solid 0px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	height: 22px;
}


.igg_TrendyFilterRuleDropDownItem
{
	font-size:11px;
	padding:1px 3px 1px 3px;
}


.igg_TrendyFilterRowSelectorImage
{
}


.igg_TrendyFilterRowSelectorCssClass
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	height: 22px;
	color:Black;
}


tr.igg_TrendyFilterRowIE6 td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	color:Black;
}


tr.igg_TrendyFilterRow>td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	color:Black;
}


.igg_TrendyHeaderScrollbarIntersection
{
}


.igg_TrendyFooterScrollbarIntersection
{
}


.igg_TrendySelectedRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-color: #4CB13F;
	background-repeat: no-repeat;
}


.igg_TrendySelectedRowSelectorImage
{
	color:White;
}

.igg_TrendyFixedColumnSeparatorCssClass
{
	width: 3px;
	background-color: #33ccff; 
}

.igg_TrendyFixedColumnPinButtonCssClass
{
	padding: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
}

.igg_TrendyFixedColumnHeaderCSSClass
{
}

tr.igg_TrendyAddNewRowTopIE6 td
{
}


tr.igg_TrendyAddNewRowTop>td
{
}


tr.igg_TrendyAddNewRowBottomIE6 td
{
}


tr.igg_TrendyAddNewRowBottom>td
{
}


.igg_TrendyFilterRuleDropDownSelectedItem
{
	background-color:#0F9A48;
	background-image: url(images/header.gif);
	font-size:11px;
	padding:1px 3px 1px 3px;
	color:White;
}


tr.igg_TrendyFilterRowTopIE6 td
{
}


tr.igg_TrendyFilterRowTop>td
{
}


tr.igg_TrendyFilterRowBottomIE6 td
{
}


tr.igg_TrendyFilterRowBottom>td
{
}


tbody tr td.igg_TrendySelectedCellIE6
{
	background-color:#009BFF;
	background-repeat:repeat-x;
	background-image: url(images/igg_selected.gif);
	color:White;
}


tbody>tr>td.igg_TrendySelectedCell
{
	background-color:#009BFF;
	background-repeat:repeat-x;
	background-image: url(images/igg_selected.gif);
	color:White;
}


.igg_TrendyAddNewRowScrollbarIntersection
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_TrendyFilterDisabled
{
}


.igg_TrendyFilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	height: 22px;
}


tbody tr td.igg_TrendyActiveCellIE6
{
}


tbody>tr>td.igg_TrendyActiveCell
{
}


.igg_TrendyActiveRow
{
}


.igg_TrendyActiveColumn
{
}


.igg_TrendyActiveRowSelectorImage
{
	color:White;
}


.igg_TrendyActiveRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-repeat: no-repeat;
	background-color: #4CB13F;
}


.igg_TrendyFilterRuleDropDownHoverItem
{
	background-color:#0F9A48;
	background-image: url(images/header.gif);
	font-size:11px;
	padding:1px 3px 1px 3px;
	color:White;
}


.igg_TrendyEditCell
{
	background:White !important;
	border:solid 1px #AAAAAA !important;
}


.igg_TrendyVirtualScrollTooltip
{
	background-image: url(images/igg_header.gif);
	font-size:10px;
	border:solid 1px #109A48;
	padding:3px;
	color: #FFFFFF;
	text-align:center;
}


.igg_TrendyFilterButton>td
{
	border-top:solid 0px Transparent;
	border-right:solid 0px Transparent;
	border-bottom:solid 0px Transparent;
	border-left:solid 0px Transparent;
}


tr.igg_TrendyAddNewRowIE6 td
{
	background-color:#F7F7F7;
	font-size:10px;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_TrendyAddNewRow>td
{
	background-color:#F7F7F7;
	font-size:10px;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
	color: #000000;
}


.igg_TrendyTopDragIndicator
{
      background-image:url("images/igg_TopDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      margin-top: 2px;
      z-index: 100;
}

.igg_TrendyMiddleDragIndicator
{
      background-image:url("images/igg_MiddleDragIndicator.png");
      background-repeat: repeat-y;
      background-position: center;
      width:11px; 
}

.igg_TrendyBottomDragIndicator
{
      background-image:url("images/igg_BottomDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      position: absolute;
      margin-top: -2px;
      z-index: 100;   
}


/*********************/
/**  Summary styles **/
/*********************/

.igg_TrendyFilterRuleDropDown 
{
    font-family:verdana;
    font-size:xx-small;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    border:1px solid #83AFDF;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}

.igg_TrendyFooterSummary
{
  border-bottom:1px solid #CBCBCB;
  color:#444444;
}

/** Removed Property (Olga Kerchentseva mail 5/25/2010 )**/
/*
.igg_TrendyFooterSummariesCaption
{
    color:#000;
    background:#88C2E8 url(images/igg_FooterSummariesBG.png) repeat-x scroll;
} */

.igg_TrendySummaryDropDown
{
    font-family:verdana;
    font-size:11px;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    padding:12px;
    border:1px solid #119A49;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}
    .igg_TrendySummaryDropDown input
    {
        margin-top:10px;
        margin-right:3px;
        width:55px;
        
        border:1px solid #119A49;
        background: #63B93B url(images/igg_ButtonsBG.png) repeat-x scroll;
        color:#fff;
        
        -webkit-border-radius: 3px;    
        -moz-border-radius: 3px;
    }
    
.igg_TrendySummaryDropDownItem
{
    cursor:default;
}

    .igg_TrendySummaryDropDownItem img
    {
        margin-right:5px;
        cursor:pointer;
    }

.igg_TrendySummaryButton 
{
    background:none;
    border:medium none;
    cursor:pointer;
    margin:0;
    padding:0;
}

/******************/

@media print{.igg_TrendyControl, .igg_TrendyControl div{width:auto !important; height:auto !important; overflow: visible !important;}}