.igeb_ElectricBlueControl
{
    background-color: transparent;
    color: #000000;
    font-size: xx-small;
    font-family: Segoe UI, Verdana, Helvetica, sans-serif;
    overflow-x: hidden;
    border: solid 1px #123554;
    border-top-width: 0px;
	
	/* IE6 fix to remove control's scroll bar */
	_overflow:hidden!important;
}

.igeb_ElectricBlueGroupLink
{
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    /* Used to give padding to group icons */
    padding-left:6px
}

.igeb_ElectricBlueHolder
{
}

.igeb_ItemImage
{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
}

.igeb_ElectricBlueGroup
{
    display: block;
    height: 30px;
    vertical-align: middle;
    overflow: hidden;
    line-height: 30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #FFFFFF;
}

.igeb_ElectricBlueGroup a:visited
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroup a
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupHover
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupHover a:visited
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupHover a
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupLabel
{
    margin-left: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: Segoe UI, Verdana, Sans-Serif;
    text-decoration: none;
}

.igeb_ElectricBlueItemLink
{
    display: block;
    text-decoration: none;
    color: #052684;
    padding-top: 2px;
    padding-bottom: 2px;
}

.igeb_ElectricBlueGroupSelected
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupSelected a:visited
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupSelected a
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupActive
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupActive a:visited
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupActive a
{
    color: #FFFFFF;
}

.igeb_ElectricBlueGroupDisabled
{
    background-position: 0px -60px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #FFFFFF;
}

.igeb_ElectricBlueItem
{
    background-color: #FFFFFF;
    line-height: 22px;
}


    /* IE 7 fix to icon bad alignment*/
    .igeb_ElectricBlueItem  ,.igeb_ElectricBlueItemActive ,.igeb_ElectricBlueItemSelected 
    {
       min-height:30px;
       
       /* IE6 specific fix */
       _height:30px;
    }
    
.igeb_ElectricBlueItemLabel
{
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-family: Segoe UI, Verdana, Arial, Sans-Serif;
}

.igeb_ElectricBlueGroupExpanderImage
{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.igeb_ElectricBlueItemImage
{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
}

.igeb_ElectricBlueItemSelected
{
    background-color: #C8E6F1;
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url(images/igeb_ItemSelectedBg.png);
    color: #FFFFFF;
}

.igeb_ElectricBlueItemActive
{
    background-color: #C8E6F1;
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url(images/igeb_ ItemSelectedBg.png);
    color: #FFFFFF;
}

.igeb_ElectricBlueItemHover
{
    background-color: #C8E6F1;
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url(images/igeb_ ItemSelectedBg.png);
    /*color: #FFFFFF;*/
}

.igeb_ElectricBlueItemParent
{
}

igeb_ElectricBlueItemDisabled
{
    
}
    /* IE 7 Disabled item fix */

    .igeb_ElectricBlueItemDisabled a:visited, .igeb_ElectricBlueItemDisabled a
    {
        color: Gray;
    }
    
.igeb_ElectricBlueGroupContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.igeb_ElectricBlueItemContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}


.igeb_ElectricBlueItemHolder
{
}



.igeb_ElectricBlueItemHolder img
{
    vertical-align: middle;
}