.igfeb_ElectricBlueControl
{
	background-color: Transparent;
}

.igfeb_ElectricBlueControlHover
{
				
				
}

.igfeb_ElectricBlueFishEyeItemLabel
{
}

.igfeb_ElectricBlueFishEyeItem
{
}

.igfeb_ElectricBlueFishEyeItemHover
{			
}

.igfeb_ElectricBlueFishEyeItemDisabled
{
				
				
}

.igfeb_ElectricBlueControlFocus
{
				
				
}

.igfeb_ElectricBlueFishEyeItemSelected
{
	background-position: bottom;
	background-image: url(images/igfeb_itemselected.png);	
	background-repeat:  no-repeat;
}