.igg_PearControl
{
	font-size:11px;
	font-family: Verdana;
	border:solid 1px #4F7600;
	margin-bottom:0px;
	margin-left:0px;
}


.igg_PearHeader
{
	background-color:#BBD17E;
	height: 25px;
}


.igg_PearHeaderCaption
{
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


.igg_PearFooter
{
	background-color:White;
	height: 22px;
	line-height: 21px;
	background-color:#eeeeee;
	background-repeat:repeat-x;
	background-image: url(images/igg_FooterBG.png);
}


.igg_PearFooterCaption
{
	font-weight:normal;
	font-size:10px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


tbody.igg_PearItemIE6 tr td
{
	background-color:White;
	border-bottom:solid 1px #D8D8D8;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


tbody.igg_PearItem>tr>td
{
	background-color:White;
	border-bottom:solid 1px #D8D8D8;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


.igg_PearScrollbarIntersection
{
}


.igg_PearRowSelector
{
	background-color:#EEF5DD;
	border-right:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	width: 35px;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igg_PearPager
{
	background-color:#EEF5DD;
	border-top:solid 1px #D8D8D8;
	border-bottom-width:0px;
	margin-right:10px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:right;
}


.igg_PearPageLink
{
	margin-right:10px;
	cursor:hand;
	color:DimGray;
	text-decoration:underline;
	cursor: pointer;
}


.igg_PearFilterRuleDropDown
{
	background-color:White;
	border:solid 1px #4F7600;
	width: 150px;
	overflow: auto;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}


.igg_PearFilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_PearResizeIndicator
{
	background-color:#BBD17E;
	width: 2px;
}


tbody tr.igg_PearAltIE6 td
{
	background-color:#EFF5F7;
	background-repeat:repeat-x;
	background-image: url(images/item_bg.png);
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


tbody>tr.igg_PearAlt>td
{
	background-color:#EFF5F7;
	background-repeat:repeat-x;
	background-image: url(images/item_bg.png);
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


.igg_PearHeaderRowSelector
{
	background-color:Transparent;
	border-width:0px;
}


.igg_PearFooterRowSelector
{
	background-color:Transparent;
	border-width:0px;
}


.igg_PearSelectedHeader
{
}

tbody.igg_PearFixedColumnCellCssClass>tr>td
{
}

.igg_PearFixedColumnFooterCssClass
{
	font-weight: bold;
}

.igg_PearPageCurrent
{
	margin-right:10px;
}


tr.igg_PearAddNewRowIE6 td
{
	background-color:#F7F7F7;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	border-left:solid 0px #D8D8D8;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_PearAddNewRow>td
{
	background-color:#F7F7F7;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	border-left:solid 0px #D8D8D8;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_PearAddNewRowTopIE6 td
{
}


tr.igg_PearAddNewRowTop>td
{
}


tr.igg_PearAddNewRowBottomIE6 td
{
}


tr.igg_PearAddNewRowBottom>td
{
}


.igg_PearAddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_PearAddNewRowSelectorCssClass
{
	background-color:#F7F7F7;
	border-top:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	border-left:solid 0px #D8D8D8;
}


.igg_PearFilterRow
{
	font-size:10px;
	font-family: Verdana;
	border-top:solid 0px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	height: 22px;
	color:Black;
}


.igg_PearFilterRuleDropDownItem
{
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
}


.igg_PearFilterRowSelectorImage
{
}


.igg_PearFilterRowSelectorCssClass
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_PearFilterRowIE6 td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	color:Black;
}


tr.igg_PearFilterRow>td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	color:Black;
}


tr.igg_PearFilterRowTopIE6 td
{
}


tr.igg_PearFilterRowTop>td
{
}


tr.igg_PearFilterRowBottomIE6 td
{
}


tr.igg_PearFilterRowBottom>td
{
}


.igg_PearHeaderScrollbarIntersection
{
}


.igg_PearFooterScrollbarIntersection
{
}


.igg_PearSelectedRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-repeat: no-repeat;
}


.igg_PearSelectedRowSelectorImage
{
}


.igg_PearFilterRuleDropDownSelectedItem
{
	background-color:#4F7600;
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	color:White;
}


tbody tr td.igg_PearSelectedCellIE6
{
	background-color:#636A4C;
	background-image:none;
	color:White;
}


tbody>tr>td.igg_PearSelectedCell
{
	background-color:#636A4C;
	background-image:none;
	color:White;
}


.igg_PearAddNewRowScrollbarIntersection
{
	background-color:#F7F7F7;
	border-top:solid 1px #D8D8D8;
	border-right:solid 0px #D8D8D8;
	border-bottom:solid 0px #D8D8D8;
	border-left:solid 0px #D8D8D8;
}


.igg_PearFilterDisabled
{
}


.igg_PearFilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tbody tr td.igg_PearActiveCellIE6
{
}


tbody>tr>td.igg_PearActiveCell
{
}


.igg_PearActiveRow
{
}


.igg_PearActiveColumn
{
}


.igg_PearActiveRowSelectorImage
{
}


.igg_PearActiveRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-color: #BBD17E;
	background-repeat: no-repeat;
}


.igg_PearFilterRuleDropDownHoverItem
{
	background-color:#BBD17E;
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	color:White;
}


.igg_PearEditCell
{
	background:White !important;
	border:solid 1px #AAAAAA !important;
}

.igg_PearFixedColumnSeparatorCssClass
{
	width: 3px;
	background-color: #4F7600; 
}

.igg_PearFixedColumnPinButtonCssClass
{
	padding: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
}

.igg_PearFixedColumnHeaderCSSClass
{
}

.igg_PearFilterButton>td
{
	border-top:solid 0px Transparent;
	border-right:solid 0px Transparent;
	border-bottom:solid 0px Transparent;
	border-left:solid 0px Transparent;
}


.igg_PearVirtualScrollTooltip
{
	background-color:#BBD17E;
	font-size:10px;
	border:solid 1px #4F7600;
	padding:3px;
	color: #000000;
	text-align:center;
}


.igg_PearTopDragIndicator
{
      background-image:url("images/igg_TopDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      margin-top: 2px;
      z-index: 100;
}

.igg_PearMiddleDragIndicator
{
      background-image:url("images/igg_MiddleDragIndicator.png");
      background-repeat: repeat-y;
      background-position: center;
      width:11px; 
}

.igg_PearBottomDragIndicator
{
      background-image:url("images/igg_BottomDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      position: absolute;
      margin-top: -2px;
      z-index: 100;   
}


/*********************/
/**  Summary styles **/
/*********************/

.igg_PearFilterRuleDropDown 
{
    font-family:verdana;
    font-size:xx-small;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    border:1px solid #83AFDF;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}

.igg_PearFooterSummary
{
  border-bottom:1px solid #CBCBCB;
  color:#444444;
}

/** Removed Property (Olga Kerchentseva mail 5/25/2010 )**/
/*
.igg_PearFooterSummariesCaption
{
    color:#000;
    background:#88C2E8 url(images/igg_FooterSummariesBG.png) repeat-x scroll;
} */

.igg_PearSummaryDropDown
{
    font-family:verdana;
    font-size:11px;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    padding:12px;
    border:1px solid #507701;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}
    .igg_PearSummaryDropDown input
    {
        margin-top:10px;
        margin-right:3px;
        width:55px;
        
        border:1px solid #507701;
        background: #BBD17E url(images/igg_ButtonsBG.png) repeat-x scroll;
        color:#fff;
        
        -webkit-border-radius: 3px;    
        -moz-border-radius: 3px;
    }
    
.igg_PearSummaryDropDownItem
{
    cursor:default;
}

    .igg_PearSummaryDropDownItem img
    {
        margin-right:5px;
        cursor:pointer;
    }

.igg_PearSummaryButton 
{
    background:none;
    border:medium none;
    cursor:pointer;
    margin:0;
    padding:0;
}

/******************/

@media print{.igg_PearControl, .igg_PearControl div{width:auto !important; height:auto !important; overflow: visible !important;}}