.igeb_PearControl
{
    background-color: transparent;
    color: #000000;
    font-size: xx-small;
    font-family: Segoe UI, Verdana, Helvetica, sans-serif;
    overflow-x: hidden;
    border: solid 1px #507601;
    border-top-width: 0px;
	
	/* IE6 fix to remove control's scroll bar */
	_overflow:hidden!important;
}

.igeb_PearGroupLink
{
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    /* Used to give padding to group icons */
    padding-left:6px
}

.igeb_PearHolder
{
}

.igeb_PearItemImage
{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
}

.igeb_PearGroup
{
    display: block;
    height: 30px;
    vertical-align: middle;
    overflow: hidden;
    line-height: 30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #6A9C01;
}

.igeb_PearGroup a:visited
{
    color: #6A9C01;
}

.igeb_PearGroup a
{
    color: #6A9C01;
}


.igeb_PearGroupHover
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #365001;
    font-weight: bold;
}

.igeb_PearGroupHover a:visited
{
    color: #365001;
}

.igeb_PearGroupHover a
{
    color: #365001;
}

.igeb_PearGroupLabel
{
    margin-left: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-family: Segoe UI, Verdana, Sans-Serif;
    text-decoration: none;
}


.igeb_PearItemLink
{
    display: block;
    text-decoration: none;
    color: #333333;
    padding-top: 2px;
    padding-bottom: 2px;
}

.igeb_PearGroupSelected
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #365100;
    font-weight: bold;
}

.igeb_PearGroupSelected a:visited
{
    color: #365100;
}

.igeb_PearGroupSelected a
{
    color: #365100;
}


.igeb_PearGroupActive
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #365100;
    font-weight: bold;
}


.igeb_PearGroupActive a:visited
{
    color: #365100;
}


.igeb_PearGroupActive a
{
    color: #365100;
}

.igeb_PearGroupDisabled
{
    background-position: 0px -60px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #365001;
    font-weight: bold;
}

.igeb_PearItem
{
    background-color: #FFFFFF;
    line-height: 22px;
}
    /* IE 7 fix to icon bad alignment*/
    .igeb_PearItem  ,.igeb_PearItemActive ,.igeb_PearItemSelected 
    {
       min-height:30px!important;
       
       /* IE6 specific fix */
       _height:30px;
    }

.igeb_PearItemLabel
{
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-family: Segoe UI, Verdana, Arial, Sans-Serif;
}

.igeb_PearGroupExpanderImage
{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.igeb_PearItemImage
{
    vertical-align: middle;
}

.igeb_PearItemSelected
{
    background-color: #F0F5E2;
    color: #365100;
}

.igeb_PearItemActive
{
    background-color: #F0F5E2;
}

.igeb_PearItemHover
{
    background-color: #F0F5E2;
}

.igeb_PearItemParent
{
}

igeb_PearItemDisabled
{
    
}
    /* IE 7 Disabled item fix */

    .igeb_PearItemDisabled a:visited, .igeb_PearItemDisabled a
    {
        color: Gray;
    }

.igeb_PearGroupContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.igeb_PearItemContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}


.igeb_PearItemHolder
{
}



.igeb_PearItemHolder img
{
    vertical-align: middle;
}

