.igdc_LucidDreamEditWithButtons
{
}


.igdc_LucidDreamCalendar
{
    border:solid 1px #ABC1DE;
    background-color: #FFFFFF;
}


.igdc_LucidDreamEditInContainer
{
	background-color:Transparent;
	border:solid 1px #ABC1DE;
	outline:0;
}


.igdc_LucidDreamButton
{
}


.igdc_LucidDreamButtonHover
{
}


