/*

Main control CSS class
*/
.igdd_LucidDreamControl
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdd_LucidDreamControlDisabled
{
}


/*
 Main control css class on hover
*/
.igdd_LucidDreamControlHover
{
	background-color:WhiteSmoke;
}


/*

*/
.igdd_LucidDreamControlFocus
{
	background-color:WhiteSmoke;
	border:solid 1px #999999;
	table-layout: fixed;
}


.igdd_LucidDreamControlArea
{
	border:solid 1px #BBBBBB;
	table-layout: fixed;
}


/*
CSS class for the actual input field (<input type="text" />)
*/
.igdd_LucidDreamValueDisplay
{
	background-color:Transparent;
	font-weight:normal;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 100%;
}


/*

*/
.igdd_LucidDreamValueDisplayHover
{
}


/*

*/
.igdd_LucidDreamValueDisplayFocus
{
}


/*

*/
.igdd_LucidDreamValueDisplayDisabled
{
	font-weight:normal;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 100%;
}


/*

*/
.igdd_LucidDreamValueDisplayReadOnly
{
}


/*

*/
.igdd_LucidDreamDropDownList
{
	background-color:White;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:1px;
}


/*

*/
.igdd_LucidDreamDropDownListHover
{
}


/*

*/
.igdd_LucidDreamDropDownListReadOnly
{
}


/*
	
*/
.igdd_LucidDreamDropDownListContainer
{
	background-color:White;
	border:solid 1px #BBBBBB;
	float: left;
}


/*

*/
.igdd_LucidDreamDropDownListContainerHover
{
}


/*

*/
.igdd_LucidDreamDropDownButton
{
	width: 17px;
	z-index: 9999;
}


/*

*/
.igdd_LucidDreamDropDownButtonHover
{
}


/*
CSS class that controls the style of the LI items in the list
*/
.igdd_LucidDreamListItem
{
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px Transparent;
	padding:3px 5px 3px 5px;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
}


/*

*/
.igdd_LucidDreamListItemActive
{
	background-color:#D1EBFE;
	border:solid 1px #BBBBBB;
	list-style-type: none;
	color:#333333;
}


/*

*/
.igdd_LucidDreamListItemHover
{
	background-color:#FF9933;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdd_listitemhover.png);
	border:solid 1px Transparent;
	list-style-type: none;
}


/*

*/
.igdd_LucidDreamListItemSelected
{
	background-color:#F1F1F1;
	border:solid 1px #F1F1F1;
	list-style-type: none;
	color:#333333;
}


/*

*/
.igdd_LucidDreamListItemDisabled
{
	list-style-type: none;
	width: auto;
	cursor:default;
}


/*
Applied to the whole pager
*/
.igdd_LucidDreamPager
{
	background-color:#F7F7F7;
	border-top:solid 1px #BBBBBB;
	vertical-align:middle;
}


/*
Loading message container
*/
.igdd_LucidDreamLoadingItemsMessage
{
	background-color:#FFCC33;
	font-weight:bold;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:1px 0px 0px 1px;
	padding:3px;
	color:White;
}


/*
Styles the current page link only
*/
.igdd_LucidDreamPageCurrent
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#FF9933;
	text-decoration:underline;
	vertical-align:middle;
}


/*
Styles all page links in general 
*/
.igdd_LucidDreamPageLink
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#333333;
	vertical-align:middle;
}


/*
Styling for anchor when hovered anywhere on ListItem
*/
.igdd_LucidDreamListItemHover a:link
{
	color:White;
	text-decoration:none;
}


.igdd_LucidDreamListItem a:visited
{
	color:#333333;
	text-decoration:none;
}


/*
 CSS class for the table that accomodates the value display and the drop down button, and which is a 
 child of the main control (div)
*/
.igdd_LucidDreamValueDisplayTable
{
}


/*

*/
.igdd_LucidDreamDropDownListContainerFocus
{
}


.igdd_LucidDreamListItem a:link
{
	color:#333333;
	text-decoration:none;
}


/*
For Disabled=True of a DropDownItem
*/
.igdd_LucidDreamListItemDisabled a:link
{
	cursor:default;
	color:#BBBBBB;
}


.igdd_LucidDreamListItem a:active
{
}


/*

*/
.igdd_LucidDreamDropDownListDisabled
{
}


/*

*/
.igdd_LucidDreamDropDownButtonDisabled
{
}


/*
	
*/
.igdd_LucidDreamDropDownButtonFocus
{
}


.igdd_LucidDreamListItem a:hover
{
}


/*
pseudo class used so Value Display input does not have focus
glow in some browsers like GoogleChrome or AppleSafari
*/
input:focus
{
	outline: none;
}


/*

*/
.igdd_LucidDreamListItemFocus
{
	list-style-type: none;
	width: auto;
}


/*

*/
.igdd_LucidDreamDropDownListFocus
{
}


.igdd_LucidDreamListItemActive a:link
{
	color:#333333;
	text-decoration:none;
}