.ig_LucidDreamControl
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	color:Black;
}


.ig_LucidDreamItem
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_LucidDreamButton
{
	cursor:hand;
}


.ig_LucidDreamButtonHover
{
}


.ig_LucidDreamButtonPressed
{
}


.ig_LucidDreamButtonDisabled
{
}


.ig_LucidDreamHover
{
}


.ig_LucidDreamSelected
{
}


.ig_LucidDreamDisabled
{
}


.ig_LucidDreamHeader
{
}


.ig_LucidDreamFooter
{
}


.ig_LucidDreamEditWithButtons
{
}


.ig_LucidDreamEdit
{
}


.ig_LucidDreamEditInContainer
{
}


.ig_LucidDreamAlt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_LucidDreamDropDown
{
}


.ig_LucidDreamEditSelected
{
}


.ms-WPBody .ig_LucidDreamControl TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .ig_LucidDreamControl TD
{
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .ig_LucidDreamControl TABLE
{
	font-size:xx-small;
	border-collapse:separate;
}
.ms-WPBody .ig_LucidDreamControl TABLE
{
	font:inherit;
}
.ms-WPBody .igdw_LucidDreamControl TD
{
	background-color:white;
}
.ms-WPBody .igmc_LucidDreamControl TD
{
	border:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .igmc_LucidDreamControl TD
{
	border:inherit;
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .igmc_LucidDreamControl TABLE
{
	font-size:xx-small;
}
.ms-WPBody .igmc_LucidDreamControl TABLE
{
	font:inherit;
}
.ms-WPBody .igte_LucidDreamEditWithButtons TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:1px;
}
.ms-WPBody .igte_LucidDreamEditWithButtons TABLE
{
	font-size:1px;
}
