.igtb_LucidDreamControl
{
	background-color:#E3EFFF;
	background-image: url(images/groupbyheader.gif);
	border-color:WhiteSmoke;
}


.igtb_LucidDreamItem
{
}


.igtb_LucidDreamButton
{
	background-color:Transparent;
	border:solid 1px Transparent;
	padding-right:38px;
	padding-left:4px;
}


.igtb_LucidDreamButtonHover
{
	background-position:center ;
	background-image: url(images/header.gif);
	border:solid 1px #699BC9;
	color:White;
	padding-right:38px;
	padding-left:4px;
}


.igtb_LucidDreamButtonPressed
{
	background-position:center ;
	background-image: url(images/header.gif);
	border:solid 1px #699BC9;
	color:White;
}


.igtb_LucidDreamLabel
{
	background-color:Transparent;
}


.igtb_LucidDreamTextBox
{
}


.igtb_LucidDreamSeparator
{
	background-color:Transparent;
}


.igtb_Office2007BlueButtonDisabled
{
}


