.ighg_NautilusExpandButton
{
	cursor: pointer;
	cursor: hand;
	padding-left: 5px;
}

TBODY>TR>TD.ighg_NautilusExpandableArea
{
	padding: 0px 0px 0px 25px;
}

.ighg_NautilusExpansionColumn
{
	width: 25px;
	padding: 0 !important;
}

.ighg_NautilusExpansionColumnHeader
{
	width: 25px;
}

.ighg_NautilusExpansionColumnFooter
{
	width: 25px;
}


/* START -- GroupBy CSS Classes */
.ighg_NautilusGroupIndentHeaderCell
{
}

TBODY>TR.ighg_NautilusGroupedRow>TD
{
	background:#FFFFFF url(images/ighg_GroupedRowBg.png) repeat-x;
}


TBODY>TR>TD.ighg_NautilusGroupIndentCell
{
	border-right: 1px solid #D0D7E5;
}

.ighg_NautilusGroupArea
{
	background-color: #F3F4F3;
	border-bottom: 1px solid #24406F;
	border-top: 1px solid #24406F;
	padding: 10px;
}

.ighg_NautilusGroupedColumn
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnBg.png) repeat-x;
	height: 16px;
	padding: 3px 5px 0px 10px;
	color: #FFFFFF
}
.ighg_NautilusGroupedColumnRightEdgeEnd
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeEndBg.gif) no-repeat;		
	width: 10px;
	height: 16px;
	padding-top: 3px;
}
.ighg_NautilusGroupedColumnRightEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeBg.png) no-repeat;
	width: 10px;
	height: 16px;
	padding-top: 3px;
}

.ighg_NautilusGroupedColumnLeftEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnLeftEdgeBg.gif) no-repeat;
	width: 9px;
	height: 16px;
	padding-top: 3px;
}

.ighg_NautilusGroupedBand
{
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-left: 1px solid #24406F;
	height: 16px;
	padding: 3px 0px 0px 10px;
	color: #FFFFFF;
}
.ighg_NautilusGroupedBandRightEdge
{		
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-right: 1px solid #24406F;
	width: 10px;
	height: 16px;
	padding: 3px 0px 0px 0px;
}

.ighg_NautilusColumnGroupingTopDragIndicator
{
	background-image:url(images/ighg_TopDragIndicator.gif);
	background-repeat: no-repeat;
	width:5px; 
	height:3px;
	z-index: 100;
}

.ighg_NautilusColumnGroupingMiddleDragIndicator
{
      background-image:url(images/ighg_MiddleDragIndicator.gif);
      background-repeat: repeat-y;
      background-position: center;
      width:3px; 
}

.ighg_NautilusColumnGroupingBottomDragIndicator
{
      background-image:url(images/ighg_BottomDragIndicator.gif);
      background-repeat: no-repeat;
      width:5px; 
      height:3px;
      position: absolute;
      z-index: 100;   
}
/* END -- GroupBy CSS Classes */

@media print{.ighg_NautilusControl, .ighg_NautilusControl div{width:auto !important; height:auto !important; overflow: visible !important;}}