.ig_NautilusControl
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	color:Black;
}


.ig_NautilusItem
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_NautilusButton
{
	cursor:hand;
}


.ig_NautilusButtonHover
{
}


.ig_NautilusButtonPressed
{
}


.ig_NautilusButtonDisabled
{
}


.ig_NautilusHover
{
}


.ig_NautilusSelected
{
}


.ig_NautilusDisabled
{
}


.ig_NautilusHeader
{
}


.ig_NautilusFooter
{
}


.ig_NautilusEditWithButtons
{
}


.ig_NautilusEdit
{
}


.ig_NautilusEditInContainer
{
}


.ig_NautilusAlt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_NautilusDropDown
{
}


.ig_NautilusEditSelected
{
}


.ms-WPBody .ig_NautilusControl TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .ig_NautilusControl TD
{
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .ig_NautilusControl TABLE
{
	font-size:xx-small;
	border-collapse:separate;
}
.ms-WPBody .ig_NautilusControl TABLE
{
	font:inherit;
}
.ms-WPBody .igdw_NautilusControl TD
{
	background-color:white;
}
.ms-WPBody .igmc_NautilusControl TD
{
	border:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .igmc_NautilusControl TD
{
	border:inherit;
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .igmc_NautilusControl TABLE
{
	font-size:xx-small;
}
.ms-WPBody .igmc_NautilusControl TABLE
{
	font:inherit;
}
.ms-WPBody .igte_NautilusEditWithButtons TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:1px;
}
.ms-WPBody .igte_NautilusEditWithButtons TABLE
{
	font-size:1px;
}
