.igg_AppletiniControl
{
	background-color:#EFF6E5;
	border:solid 1px #4F7600;
	cursor:default;
}


.igg_AppletiniHeader
{
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/header.gif);
	height: 25px;
}


.igg_AppletiniHeaderCaption
{
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


.igg_AppletiniFooter
{
	background-color:#EFF6E5;
	background-image:none;
	height: 22px;
	line-height: 21px;
	background-color:#eeeeee;
	background-repeat:repeat-x;
	background-image: url(images/igg_FooterBG.png);
}


.igg_AppletiniFooterCaption
{
	font-weight:normal;
	font-size:10px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


tbody.igg_AppletiniItemIE6 tr td
{

	background:#F6FDF5 url(images/item_bg.gif) repeat-x;
	border-top:solid 1px Gainsboro;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	vertical-align:middle;
}


tbody.igg_AppletiniItem>tr>td
{
	
	background:#F6FDF5 url(images/item_bg.gif) repeat-x;
	border-top:solid 1px Gainsboro;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	vertical-align:middle;
}


.igg_AppletiniScrollbarIntersection
{
}


.igg_AppletiniRowSelector
{
	background-color:White;
	border-top:solid 1px Gainsboro;
	border-right:solid 1px Gainsboro;
	width: 35px;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igg_AppletiniPager
{
	background-color:#EFF6E5;
	border-width:0px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:right;
}


.igg_AppletiniPageLink
{
	font-weight:bold;
	margin-right:15px;
	cursor:hand;
	color:DimGray;
	cursor: pointer;
}


.igg_AppletiniFilterRuleDropDown
{
	background-color:#EFF6E5;
	border:solid 1px #4F7600;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}


.igg_AppletiniFilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_AppletiniResizeIndicator
{
	background-color:#ABCE04;
	width: 2px;
}


tbody tr.igg_AppletiniAltIE6 td
{
	background-color:#EBF6FF;
	background-image: url(images/alt_item.gif);
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


tbody>tr.igg_AppletiniAlt>td
{
	
	background-color:#EBF6FF;
	background-image: url(images/alt_item.gif);
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


.igg_AppletiniHeaderRowSelector
{
	background-color:Transparent;
	background-image: none;
	border:solid 0px Gainsboro;
}


.igg_AppletiniFooterRowSelector
{
	background-color:Transparent;
	background-image: none;
	border:solid 0px Gainsboro;
}


.igg_AppletiniSelectedHeader
{
}

tbody.igg_AppletiniFixedColumnCellCssClass>tr>td
{
}

.igg_AppletiniFixedColumnFooterCssClass
{
	font-weight: bold;
}

.igg_AppletiniPageCurrent
{
	background-repeat:no-repeat;
	font-weight:bold;
	font-size:14px;
	margin-right:12px;
	padding:2px 5px 5px 3px;
	cursor:hand;
	color:Black;
	text-align:center;
}


tr.igg_AppletiniAddNewRowIE6 td
{
	background-color:#F7F7F7;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_AppletiniAddNewRow>td
{
	background-color:#F7F7F7;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


TR.igg_AppletiniAddNewRowTopIE6 TD
{
}


TR.igg_AppletiniAddNewRowTop>TD
{
}


TR.igg_AppletiniAddNewRowBottomIE6 TD
{
}


TR.igg_AppletiniAddNewRowBottom>TD
{
}


.igg_AppletiniAddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_AppletiniAddNewRowSelectorCssClass
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_AppletiniFilterRow
{
	font-size:10px;
	font-family: Verdana;
	border-top:solid 0px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	height: 22px;
}


.igg_AppletiniFilterRuleDropDownItem
{
	font-size:11px;
	font-family: Verdana;
	margin:1px 0px 1px 0px;
	padding:0px 3px 0px 3px;
}


.igg_AppletiniFilterRowSelectorImage
{
}


.igg_AppletiniFilterRowSelectorCssClass
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_AppletiniFilterRowIE6 td
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_AppletiniFilterRow>td
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_AppletiniFilterRowTopIE6 td
{
}


tr.igg_AppletiniFilterRowTop>td
{
}


tr.igg_AppletiniFilterRowBottomIE6 td
{
}


tr.igg_AppletiniFilterRowBottom>td
{
}


.igg_AppletiniHeaderScrollbarIntersection
{
}


.igg_AppletiniFooterScrollbarIntersection
{
}


.igg_AppletiniSelectedRowSelector
{
	background-position:center ;
	background-image: url(images/selectedrowselector.gif);
	background-repeat: no-repeat;
	color :White;
}


.igg_AppletiniSelectedRowSelectorImage
{
}


.igg_AppletiniFilterRuleDropDownSelectedItem
{
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:11px;
	font-family: Verdana;
	margin:1px 0px 1px 0px;
	padding:0px 3px 0px 3px;
	color:White;
}


tbody tr td.igg_AppletiniSelectedCellIE6
{
	background-color:#C0DA00;
	background-image: url(images/igg_selected.gif);
	border-top:solid 1px #E1E1E1;
	color:Black;
}


tbody>tr>td.igg_AppletiniSelectedCell
{
	background-color:#C0DA00;
	background-image: url(images/igg_selected.gif);
	border-top:solid 1px #E1E1E1;
	color:Black;
}


.igg_AppletiniAddNewRowScrollbarIntersection
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_AppletiniFilterDisabled
{
}


.igg_AppletiniFilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tbody tr td.igg_AppletiniActiveCellIE6
{
}


tbody>tr>td.igg_AppletiniActiveCell
{
}


.igg_AppletiniActiveRow
{
}


.igg_AppletiniActiveColumn
{
}


.igg_AppletiniActiveRowSelectorImage
{
	color:White;
}


.igg_AppletiniActiveRowSelector
{
	background-position:center ;
	background-image: url(images/selectedrowselector.gif);
	background-repeat: no-repeat;
	background-color: #4F7600;
}


.igg_AppletiniFilterRuleDropDownHoverItem
{
	background-color:#B2D203;
	background-position:center ;
	font-size:11px;
	font-family: Verdana;
	margin:1px 0px 1px 0px;
	padding:0px 3px 0px 3px;
	color:White;
}


.igg_AppletiniEditCell
{
	background:White !important;
	border:solid 1px #AAAAAA !important;
}

.igg_AppletiniFixedColumnSeparatorCssClass
{
	width: 3px;
	background-color: #CCCCCC; 
}

.igg_AppletiniFixedColumnPinButtonCssClass
{
	padding: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
}

.igg_AppletiniFixedColumnHeaderCSSClass
{
}

.igg_AppletiniSelectedCell
{
}


.igg_AppletiniVirtualScrollTooltip
{
	background-color:#ABCE04;
	font-size:10px;
	border:solid 1px #4F7600;
	padding:3px;
	color:#FFFFFF;
	text-align:center;
}


.igg_AppletiniFilterButton>td
{
	border-top:solid 0px Transparent;
	border-right:solid 0px Transparent;
	border-bottom:solid 0px Transparent;
	border-left:solid 0px Transparent;
}


.igg_AppletiniTopDragIndicator
{
      background-image:url("images/igg_TopDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      margin-top: 2px;
      z-index: 100;
}

.igg_AppletiniMiddleDragIndicator
{
      background-image:url("images/igg_MiddleDragIndicator.png");
      background-repeat: repeat-y;
      background-position: center;
      width:11px; 
}

.igg_AppletiniBottomDragIndicator
{
      background-image:url("images/igg_BottomDragIndicator.png");
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      position: absolute;
      margin-top: -2px;
      z-index: 100;   
}


/*********************/
/**  Summary styles **/
/*********************/

.igg_AppletiniFilterRuleDropDown 
{
    font-family:verdana;
    font-size:xx-small;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    border:1px solid #83AFDF;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}

.igg_AppletiniFooterSummary
{
  border-bottom:1px solid #CBCBCB;
  color:#444444;
}

/** Removed Property (Olga Kerchentseva mail 5/25/2010 )**/
/*
.igg_AppletiniFooterSummariesCaption
{
    color:#000;
    background:#88C2E8 url(images/igg_FooterSummariesBG.png) repeat-x scroll;
} */

.igg_AppletiniSummaryDropDown
{
    font-family:verdana;
    font-size:11px;
    
    background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
    padding:12px;
    border:1px solid #4F7600;
    
    /*Rounded corners*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    
    /*Shadow*/
    -moz-box-shadow: 0 4px 8px 0 #5A5A5A;
    -webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
    box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#5A5A5A');
    
}
    .igg_AppletiniSummaryDropDown input
    {
        margin-top:10px;
        margin-right:3px;
        width:55px;
        
        border:1px solid #4F7600;
        background: #BFD941 url(images/igg_ButtonsBG.png) repeat-x scroll;
        color:#4F7600;
        
        -webkit-border-radius: 3px;    
        -moz-border-radius: 3px;
    }
    
.igg_AppletiniSummaryDropDownItem
{
    cursor:default;
}

    .igg_AppletiniSummaryDropDownItem img
    {
        margin-right:5px;
        cursor:pointer;
    }

.igg_AppletiniSummaryButton 
{
    background:none;
    border:medium none;
    cursor:pointer;
    margin:0;
    padding:0;
}

/******************/

@media print{.igg_AppletiniControl, .igg_AppletiniControl div{width:auto !important; height:auto !important; overflow: visible !important;}}
