.igspell_Windows7Wrapper
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:notset notset ;
	background-image: url('../../styles/windows7/images/spellcheckerback.jpg');
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	position: relative;
	width: 100%;
	height: 100%;
}


.igspell_Windows7DocumentTextPanel
{
	background-color:White;
	border:solid 1px #CCCCCC;
	padding:2px;
	position: absolute;
	height: 85px;
	width: 230px;
	left: 10px;
	top: 47px;
	overflow: auto;
	bottom: -1px;
}


.igspell_Windows7Button
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:notset notset ;
	background-image: url('../../styles/windows7/images/button_win7.png');
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-style:none;
	width: 95px;
	height: 21px;
	position: absolute;
	left: 250px;
	bottom: -1px;
	text-decoration:none;
}


.igspell_Windows7ChangeToBox
{
	border:solid 1px #CCCCCC;
	position: absolute;
	left: 10px;
	top: 306px;
	width: 230px;
	height: 25px;
	bottom: -1px;
}


.igspell_Windows7Suggestions
{
	border:solid 1px #CCCCCC;
	position: absolute;
	left: 10px;
	top: 167px;
	width: 340px;
	height: 109px;
	bottom: -1px;
}


.igspell_Windows7Label
{
	font-weight:bold;
	font-size:xx-small;
	margin-bottom:2px;
	position: absolute;
	left: 10px;
	width: 87px;
	bottom: -1px;
	color:#151C55;
}


.igspell_Windows7BadWord
{
	border-bottom:solid 1px Red;
}


.igspell_Windows7IgnoreButton
{
	top: 47px;
}


.igspell_Windows7IgnoreAllButton
{
	top: 73px;
}


.igspell_Windows7ChangeButton
{
	top: 306px;
}


.igspell_Windows7ChangeAllButton
{
	top: 332px;
}


.igspell_Windows7FinishButton
{
	top: 362px;
}


.igspell_Windows7AddButton
{
	top: 128px;
}


.igspell_Windows7ChangeToLabel
{
	margin-left:0px;
	padding-top:3px;
	padding-left:10px;
	top: 284px;
	left: 0px;
	width: 100%;
}


.igspell_Windows7SuggestionsLabel
{
	margin-left:0px;
	padding-top:3px;
	padding-left:10px;
	top: 143px;
	left: 0px;
	width: 100%;
	height: 16px;
}


.igspell_Windows7NotFoundLabel
{
	top: 10px;
}


.igspell_Windows7Button hover
{
	background-color: Transparent url('../../Styles/Windows7/images/button_win7.png') no-repeat 0 -21px;
	background-repeat:no-repeat;
	background-position:notset ;
	background-image: url('../../styles/windows7/images/button_win7.png');
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 95px;
	height: 21px;
	position: absolute;
	left: 250px;
}


h3
{
	padding: 0px!important;
	margin: 0px!important;
}


h3 span
{
	font-size:12px;
	color:#1E395B;
}


