.ig_Windows7Control
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	color:Black;
}


.ig_Windows7Item
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_Windows7Button
{
	cursor:hand;
}


.ig_Windows7ButtonHover
{
}


.ig_Windows7ButtonPressed
{
}


.ig_Windows7ButtonDisabled
{
}


.ig_Windows7Hover
{
}


.ig_Windows7Selected
{
}


.ig_Windows7Disabled
{
}


.ig_Windows7Header
{
}


.ig_Windows7Footer
{
}


.ig_Windows7EditWithButtons
{
}


.ig_Windows7Edit
{
}


.ig_Windows7EditInContainer
{
}


.ig_Windows7Alt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_Windows7DropDown
{
}


.ig_Windows7EditSelected
{
}

.ig_Windows7AjaxIndicatorBlock
{
	background-color:#909090;
	filter: alpha(opacity : 30);
	opacity: 0.3;
}


.ig_Windows7AjaxIndicator
{
}

.ms-WPBody .ig_Windows7Control TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .ig_Windows7Control TD
{
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .ig_Windows7Control TABLE
{
	font-size:xx-small;
	border-collapse:separate;
}
.ms-WPBody .ig_Windows7Control TABLE
{
	font:inherit;
}
.ms-WPBody .igdw_Windows7Control TD
{
	background-color:white;
}
.ms-WPBody .igmc_Windows7Control TD
{
	border:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .igmc_Windows7Control TD
{
	border:inherit;
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .igmc_Windows7Control TABLE
{
	font-size:xx-small;
}
.ms-WPBody .igmc_Windows7Control TABLE
{
	font:inherit;
}
.ms-WPBody .igte_Windows7EditWithButtons TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:1px;
}
.ms-WPBody .igte_Windows7EditWithButtons TABLE
{
	font-size:1px;
}
