/*

Main control CSS class
*/
.igdd_RedPlanetControl
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdd_RedPlanetControlDisabled
{
}


/*
 Main control css class on hover
*/
.igdd_RedPlanetControlHover
{
	background-color:WhiteSmoke;
}


/*

*/
.igdd_RedPlanetControlFocus
{
	background-color:WhiteSmoke;
	border:solid 1px #333333;
	table-layout: fixed;
}


.igdd_RedPlanetControlArea
{
	border:solid 1px #6A6A6A;
	table-layout: fixed;
}


/*
CSS class for the actual input field (<input type="text" />)
*/
.igdd_RedPlanetValueDisplay
{
	background-color:Transparent;
	font-weight:normal;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 100%;
	z-index: 0;
}


/*

*/
.igdd_RedPlanetValueDisplayHover
{
}


/*

*/
.igdd_RedPlanetValueDisplayFocus
{
}


/*

*/
.igdd_RedPlanetValueDisplayDisabled
{
}


/*

*/
.igdd_RedPlanetValueDisplayReadOnly
{
}


/*

*/
.igdd_RedPlanetDropDownList
{
	background-color:White;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:1px;
}


/*

*/
.igdd_RedPlanetDropDownListHover
{
}


/*

*/
.igdd_RedPlanetDropDownListReadOnly
{
}


/*
	
*/
.igdd_RedPlanetDropDownListContainer
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(images/igdd_pgbg.png);
	border:solid 1px #6A6A6A;
	float: left;
}


/*

*/
.igdd_RedPlanetDropDownListContainerHover
{
}


/*

*/
.igdd_RedPlanetDropDownButton
{
	width: 17px;
	z-index: 9999;
}


/*

*/
.igdd_RedPlanetDropDownButtonHover
{
	background-image: url(images/igdd_dropdownbutton_hover.png);
}


/*
CSS class that controls the style of the LI items in the list
*/
.igdd_RedPlanetListItem
{
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px Transparent;
	padding:3px 5px 3px 5px;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
}


/*

*/
.igdd_RedPlanetListItemActive
{
	background-color:#E5E5E5;
	border:solid 1px #BBBBBB;
	list-style-type: none;
}


/*

*/
.igdd_RedPlanetListItemHover
{
	background-color:#990000;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdd_listitemhover.png);
	border:solid 1px #660000;
	list-style-type: none;
}


/*

*/
.igdd_RedPlanetListItemSelected
{
	background-color:#F1F1F1;
	list-style-type: none;
}


/*

*/
.igdd_RedPlanetListItemDisabled
{
	list-style-type: none;
	width: auto;
	cursor:default;
}


/*
Applied to the whole pager
*/
.igdd_RedPlanetPager
{
	background-color:Transparent;
	border-top:solid 1px #CCCCCC;
	vertical-align:middle;
}


/*
Loading message container
*/
.igdd_RedPlanetLoadingItemsMessage
{
	background-color:#990000;
	font-weight:bold;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:1px 0px 0px 1px;
	padding:3px;
	color:White;
}


/*
Styles the current page link only
*/
.igdd_RedPlanetPageCurrent
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#990000;
	text-decoration:underline;
	vertical-align:middle;
}


/*
Styles all page links in general 
*/
.igdd_RedPlanetPageLink
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#333333;
	vertical-align:middle;
}


.igdd_RedPlanetListItem a:hover
{
}


/*

*/
.igdd_RedPlanetListItemFocus
{
	list-style-type: none;
	width: auto;
}


/*

*/
.igdd_RedPlanetDropDownListContainerFocus
{
}


/*

*/
.igdd_RedPlanetDropDownListDisabled
{
}


.igdd_RedPlanetListItem a:visited
{
	color:#333333;
	text-decoration:none;
}


/*

*/
.igdd_RedPlanetDropDownButtonDisabled
{
}


/*
	
*/
.igdd_RedPlanetDropDownButtonFocus
{
}


.igdd_RedPlanetListItem a:link
{
	color:#333333;
	text-decoration:none;
}


/*
Styling for anchor when hovered anywhere on ListItem
*/
.igdd_RedPlanetListItemHover a:link
{
	color:White;
	text-decoration:none;
}


.igdd_RedPlanetListItemActive a:link
{
	color:#990000;
}


/*
 CSS class for the table that accomodates the value display and the drop down button, and which is a 
 child of the main control (div)
*/
.igdd_RedPlanetValueDisplayTable
{
}


/*
For Disabled=True of a DropDownItem
*/
.igdd_RedPlanetListItemDisabled a:link
{
	cursor:default;
	color:#BBBBBB;
}


/*
pseudo class used so Value Display input does not have focus
glow in some browsers like GoogleChrome or AppleSafari
*/
input:focus
{
	outline: none;
}


.igdd_RedPlanetListItem a:active
{
}


/*

*/
.igdd_RedPlanetDropDownListFocus
{
}


