.ig_RedPlanetControl
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	color:Black;
}


.ig_RedPlanetItem
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_RedPlanetButton
{
	cursor:hand;
}


.ig_RedPlanetButtonHover
{
}


.ig_RedPlanetButtonPressed
{
}


.ig_RedPlanetButtonDisabled
{
}


.ig_RedPlanetHover
{
}


.ig_RedPlanetSelected
{
}


.ig_RedPlanetDisabled
{
}


.ig_RedPlanetHeader
{
	background-color:Transparent;
}


.ig_RedPlanetFooter
{
}


.ig_RedPlanetEditWithButtons
{
}


.ig_RedPlanetEdit
{
}


.ig_RedPlanetEditInContainer
{
}


.ig_RedPlanetAlt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_RedPlanetDropDown
{
}


.ig_RedPlanetEditSelected
{
}


.ms-WPBody .ig_RedPlanetControl TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .ig_RedPlanetControl TD
{
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .ig_RedPlanetControl TABLE
{
	font-size:xx-small;
	border-collapse:separate;
}
.ms-WPBody .ig_RedPlanetControl TABLE
{
	font:inherit;
}
.ms-WPBody .igdw_RedPlanetControl TD
{
	background-color:white;
}
.ms-WPBody .igmc_RedPlanetControl TD
{
	border:none;
	background-color:transparent;
	font-size:xx-small;
}
.ms-WPBody .igmc_RedPlanetControl TD
{
	border:inherit;
	background-color:inherit;
	font:inherit;
}
.ms-WPBody .igmc_RedPlanetControl TABLE
{
	font-size:xx-small;
}
.ms-WPBody .igmc_RedPlanetControl TABLE
{
	font:inherit;
}
.ms-WPBody .igte_RedPlanetEditWithButtons TD
{
	border-bottom:none;
	background-color:transparent;
	font-size:1px;
}
.ms-WPBody .igte_RedPlanetEditWithButtons TABLE
{
	font-size:1px;
}
